@model List<SchoolZone.SID.Mvc.Models.SchoolModel>
<div id="Schools">
    <div class="list-group panel">
        @foreach (var School in Model)
        {
            string Details = "Details" + School.Id;
            string Contacts = "Contacts" + School.Id;
            School.Contacts.TableID = "ContactsTable" + School.Id;

            <a href="#@School.Id" class="list-group-item-czone list-group-item " data-toggle="collapse" data-parent="#Schools"><span class="glyphicon-home glyphicon"></span> <b>@School.Name</b></a>
            <div class="collapse" id="@School.Id">
                <div class="thumbnail">

                    <div class="row">
                        <div class="col-sm-2"><span class="label label-czone">Phone Number:</span></div>
                        <div class="col-sm-10">@School.Telephone</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><span class="label label-czone">Email Address</span></div>
                        <div class="col-sm-10"><a href="mailto:@School.OfficeEmail">@School.OfficeEmail</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><span class="label label-czone">DfE Code:</span></div>
                        <div class="col-sm-10">@School.Code</div>
                    </div>
                    <p>  </p>
                    <div class="panel with-nav-tabs panel-czone">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#@Details" data-toggle="tab"><b>Details</b></a></li>
                                <li><a href="#@Contacts" data-toggle="tab"><b>Contacts</b></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                @{Html.RenderPartial("_SchoolDetails", School);}
                                <div class="tab-pane fade" id="@Contacts">
                                    @{Html.RenderPartial("_SIDTable", School.Contacts);}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                        }
    </div>
</div>